<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro</title>
</head>
<body>

<h1>Cadastro Biblioteca</h1>

<form th:action="@{/usuarios/salvar}"
      th:object="${usuario}"
      method="post">

    <input type="text"
           th:field="*{nome}"
           placeholder="Nome">

    <br><br>

    <input type="email"
           th:field="*{email}"
           placeholder="Gmail">

    <br><br>

    <input type="password"
           th:field="*{senha}"
           placeholder="Senha">

    <br><br>

    <input type="text"
           th:field="*{livro}"
           placeholder="Livro">

    <br><br>

    <button type="submit">
        Salvar
    </button>

</form>

</body>
</html>